<section class="about" id="about">
  <h2 class="about__title">Sobre mi</h2>
  <p class="about__description">
    Estudié Administración y Dirección de Empresas. <br />
    Y aunque cada experiencia me ha enriquecido profesional y personalmente, decidí ir más allá y
    dar un giro a mi futuro profesional, siendo Desarrolladora Front-end. <br />Considero que el
    éxito está en trabajar en lo que a uno le apasiona, por eso tomé esa arriesgada decisión.
  </p>
  <h3 class="about__skills">Skills</h3>
  <ul class="about__list">
    <li class="about__list--item"><img src="./assets/images/html5.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/css-3.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/archivo-js.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/atom.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/git-logo.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/sass.png" alt="" /></li>
    <li class="about__list--item"><img src="./assets/images/gulp.png" alt="" /></li>
  </ul>
</section>
