<section id="contact" class="contact">
    <div class="contact__description">
      <h2 class="contact__description--title">¿Hablamos?</h2>
      <p class="contact__description--paragraph">
        Estoy buscando mi primera oportunidad como desarrolladora Front End. Si crees que mi perfil
        encaja con lo que buscas o quieres darme feedback ¡no dudes en
        contactarme! &#128516
      </p>
    </div>
    <div class="contact__links">
      <a
        href="https://www.linkedin.com/in/nuriadiazcandela/"
        target="_blank"
        class="contact__links--details"
        ><i class="fab fa-linkedin fa-2x" title="Ir a Linkedin"></i
      ></a>
      <a
        id="profile-link"
        href="https://github.com/nuriadiazcandela"
        target="_blank"
        class="contact__links--details"
        ><i class="fab fa-github-square fa-2x" title="Ir a Github"></i
      ></a>
      <a href="mailto:nuriadiazcandela@gmail.com" class="contact__links--details"
        ><i class="fas fa-envelope fa-2x" title="Mandar email"></i
      ></a>
      <!-- <a
        id="profile-link"
        href="https://drive.google.com/file/d/1FGidpA3ScDHyymg4x0CZiq8eYNQqkMmS/view?usp=sharing"
        target="_blank"
        class="contact__links--details"
        ><i class="fas fa-cloud-download-alt fa-2x" title="Descargar CV"></i></a> -->
    </div>
  </section>