.header {
  height: 100vh;
  width: 100vw;
  background: $color-welcome;
  &__nav {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
    &--list {
      display: flex;
      list-style: none;
      padding: 32px;
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
    &--link {
      text-decoration: none;
      color: $color-start;
      padding-right: 12px;
      @media (min-width: 768px) {
        padding-right: 20px;
      }
      @media (min-width: 1024px) {
        padding: 32px;
      }
      &:hover {
        color: $color-contact;
        transition: linear 0.2s;
        text-shadow: 1px 1px 1px $color-start;
      }
    }
  }
}

.welcome {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 30px 50px;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 30px;
      color: $color-start;
      padding-left: 10px;
      padding-right: 10px;
      @media (min-width: 1024px) {
        font-size: 50px;
      }
    }

    &--name {
      color: $color-contact;
    }
    &--btn {
      width: 150px;
      height: 50px;
      font-size: 18px;
      letter-spacing: 1px;
      background: linear-gradient(90deg, #4a306d 0%, #0fa3b1 100%);
      color: $color-welcome;
      border: none;
      border-radius: 30px;
      margin-top: 30px;
      cursor: pointer;
      @media (min-width: 1024px) {
        width: 240px;
        box-shadow: 1px 3px 10px #0a00006e;
      }
    }
  }
  &__img {
    background: $color-welcome;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    &--illustration {
      width: 50%;
      @media (min-width: 1024px) {
        width: 70%;
      }
    }
  }
}
