.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 0 50px;
  @media (min-width: 1024px) {
    padding-bottom: 50px;
  }
  &__title {
    color: $color-start;
    padding: 25px 0 15px 0;
    font-size: 20px;
    @media (min-width: 1024px) {
      font-size: 35px;
      padding-bottom: 40px;
    }
  }
  &__description {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }
}

.projects {
  text-align: center;
  padding: 50px 32px;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 640px;
    margin: 25px 0 20px 0;
    color: $color-start;
    @media (min-width: 1024px) {
      font-size: 35px;
      padding-bottom: 40px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 96px;
    @media (min-width: 1024px) {
      grid-template-columns: auto auto auto;
    }
  }
}
.container {
  background: linear-gradient(90deg, #4a306d 0%, #0fa3b1 100%);
  padding: 20px 20px 60px 20px;
  font-size: 10px;
  text-align: center;
  border-radius: 10%;
  &__link {
    text-decoration: none;
    color: $color-white;
    &--title {
      font-size: 15px;
      padding-bottom: 10px;
    }
    &--image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.contact {
  background-color: $color-contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 50px 50px;
  &__description {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 20px;
      @media (min-width: 1024px) {
        font-size: 35px;
        text-align: center;
        padding-bottom: 20px;
      }
    }
    &--paragraph {
      font-family: 'Nanum Gothic Coding', monospace;
      padding-top: 15px;
      font-size: 15px;
      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    flex-wrap: nowrap;
    &--details {
      font-size: 12px;
      margin-right: 10px;
      padding: 10px;
      transition: transform 0.3s ease-out;
      background: linear-gradient(45deg, rgba(74, 48, 109, 1) 0%, rgba(15, 163, 177, 1) 100%);
      color: $color-contact;
      border-radius: 15%;
      @media (min-width: 1024px) {
        font-size: 20px;
        margin-right: 30px;
      }
      :hover {
        transform: translateY(8px);
      }
    }
  }
}
