.projects {
  text-align: center;
  padding: 50px 32px;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 640px;
    margin: 25px 0 20px 0;
    color: $color-start;
    @media (min-width: 1024px) {
      font-size: 35px;
      padding-bottom: 40px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 96px;
    @media (min-width: 1024px) {
      grid-template-columns: auto auto auto;
    }
  }
  &__paragraph {
    // font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    &--link {
      text-decoration: none;
      // font-family: 'Nanum Gothic Coding', monospace;
    }
  }
}
.container {
  background: linear-gradient(90deg, #4a306d 0%, #0fa3b1 100%);
  padding: 20px 20px 20px 20px;
  font-size: 10px;
  text-align: center;
  border-radius: 10%;
  &__link {
    text-decoration: none;
    color: $color-white;
    &--title {
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 10px;
    }
    &--image {
      width: 100%;
      object-fit: cover;
      padding-bottom: 10px;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(0.9);
      }
    }
    &--description {
      font-size: 14px;
      padding-bottom: 5px;
      color: $color-white;
      font-family: 'Nanum Gothic Coding', monospace;
    }
    &--code {
      color: $color-white;
      font-size: 15px;
      padding-left: 5px;
    }
  }
}
